= bootstrap_will_paginate items

%table.table.table-bordered.table-sm
  = render "applications/list_header"
  = render partial: "applications/item", collection: items

= bootstrap_will_paginate items
