%h3 Plan

%table.table.table-bordered.table-sm.plan-list
  = render "plans/list_header"
  = render "plans/item", item: @item.plan

%h3 Execution

%table.table.table-bordered.table-sm
  = render "executions/list_header"
  = render partial: "executions/item", collection: [@item]
