= text_field_tag :begin_date, @begin_date.strftime("%Y-%m-%d"), data: {"date-format" => "yyyy-mm-dd"}, style: 'width: 75px; margin: 0', class: "date-picker"
%span= " - "
= text_field_tag :finish_date, @finish_date.strftime("%Y-%m-%d"), data: {"date-format" => "yyyy-mm-dd"}, style: 'width: 75px; margin: 0', class: "date-picker"
