= text_field_tag :begin_date, params[:begin_date], data: {"date-format" => "mm/dd/yyyy"}, style: 'width: 75px; margin: 0', class: "date-picker"
%span= " - "
= text_field_tag :finish_date, params[:finish_date], data: {"date-format" => "mm/dd/yyyy"}, style: 'width: 75px; margin: 0', class: "date-picker"
