= text_field_tag :begin_date, @begin_date.strftime("%Y-%m-%d"), data: {"date-format" => "yyyy-mm-dd"}, style: 'display: inline; width: 100px; margin: 0', class: "date-picker form-control"
%span= " - "
= text_field_tag :finish_date, @finish_date.strftime("%Y-%m-%d"), data: {"date-format" => "yyyy-mm-dd"}, style: 'display: inline; width: 100px; margin: 0', class: "date-picker form-control"
