.p
  Runs at #{@now}

- if params[:type] != 'execution_check'
  - @result = {params[:type].to_sym => @result}
- @result.each do |type, executions|
  %h3= type.to_s.humanize
  = render partial: "executions/list_as_list", locals: {items: executions}
