%h1 Dashboard

%table.table.table-bordered.table-condensed
  %tr
    %th Last checked at
    %th Next check create executions
  %tr
    %td= Rails.cache.read("scheduler_runner_checked_at")
    %td= Marshal.load(Rails.cache.read("scheduler_runner_create_executions")).to_s rescue nil

.p
  Controls
  .btn-group
    - ["check", "run_executions", "expend_executions", "verify_executions"].each do |name|
      = link_to name.humanize, [:op, :home, type: name], method: :post, data: {confirm: "#{name.humanize}?"}, class: 'btn btn-default'
