%h1 Dashboard

.row
  .col-md-8
    = render "executions/search", items: @executions
    = render "executions/list", items: @executions

  .col-md-4
    %table.table.table-bordered.table-sm
      %tr
        %th Last checked at
        %th Next check create executions
      %tr
        %td= format_time Scheduler::Lib.read_cache(:checked_at)
        %td= format_time Scheduler::Lib.read_cache(:expired_create_executions)
