%h1 Dashboard

.p
  Controls
  .btn-group
    - ["check", "run_executions", "expend_executions", "verify_executions"].each do |name|
      = link_to name.humanize, [:op, :home, type: name], method: :post, data: {confirm: "#{name.humanize}?"}, class: 'btn btn-default'
