%table.table.table-bordered.table-sm
  - @info.each do |category, h|
    %tr
      %th= category
      %td
    - h.each do |k, v|
      %tr
        %td= k
        %td
          - if v.kind_of?(Hash)
            %pre= JSON.pretty_generate(v)
          - else
            = v
