%h3 User Profile
.form-block
  = simple_form_for current_user, url: url_for, method: :post, as: :item do |f|
    = render partial: "users/profile", locals: {f: f}

    .margin-bottom
      = f.submit "Submit", class: 'btn btn-success'
      = link_to "Cancel", :users, class: 'btn btn-default'
