development: &development
  adapter: mysql2
  host: localhost
  database: scheduler_dev
  reconnect: true
  username: scheduler
  password: scheduler
  pool: 5
  encoding: utf8
  read_timeout: 20

test:
  <<: *development
  database: scheduler_test
