.p
  - case em.execution_type
  - when "ruby"
    %span{title: "Code", style: "background: #ddd"}= em.parameters[:code]
  - when "http"
    %span{title: "Site"}= em.parameters[:site]
  - else
    - if em.parameters.present?
      = render "shared/dialog_data", id: "item-parameters-#{em.id}", name: :Parameters, data: hash_as_table(em.parameters)
