a, .btn-link
  text-decoration: none
  &:hover
    text-decoration: underline

.execution-status
  &.status-init
    color: #aaa
  &.status-succeeded
    color: #4a4
  &.status-running
    color: #00a
  &.status-calling
    color: #444
  &.status-error
    color: #a00
  &.status-timeout
    color: #ea9102
