.p= render "during"

- schedules = Scheduler::Lib.get_schedules_with_execution_during(@item, @begin_date, @finish_date+1.day)
%table.table.table-bordered.table-sm
  %tr
    %th Scheduled Time
    %th Execution
    %th Scheduled at
    %th Executed at
    %th Status
    - schedules.each do |schedule|
      %tr
        %td{rowspan: [schedule.executions.count, 1].max}
          = format_time schedule.at
          = render "schedule_execution", e: schedule.executions.first
      - if schedule.executions.present?
        - schedule.executions[1..-1].each do |e|
          %tr= render "schedule_execution", e: e
